@import "cssreset.css";
@import "landing-page/header.css";
@import "landing-page/top-section.css";
@import "landing-page/portfolio-section.css";
@import "landing-page/about-section.css";
@import "portfolio/portfolio-projects.css";
@import "footer-section.css";

.container{
    max-width: 1150px;
    margin: 0 auto;
}

@media only screen and (max-width: 960px){
    .container{ width: 100%}
}

/*  Phones */
@media only screen and (max-width: 767px){
    
}

*{
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
